body {
  background: #ffffff;
  color: #111827;
  transition: background 0.2s, color 0.2s;
}

body.modo-escuro {
  background: #111827;
  color: #f9fafb;
}

body.modo-escuro input {
  background: #1f2937;
  border: 1px solid #6b7280;
  color: #f9fafb;
}

body.modo-escuro button {
  background: #374151;
  color: #f9fafb;
}

body.modo-escuro li span {
    color: #d1d5db;
 
}
